<!DOCTYPE html>
<html lang="en">

<head>
    <title>--Register--</title>
</head>

<body>
    <form>

        <label for="vwap">VWAP</label><br>
        <input type="text" id="vwap" name="vwap"><br>
        <label for="open">Open</label><br>
        <input type="text" id="open" name="open"><br>
        <label for="high">high</label><br>
        <input type="text" id="high" name="high"><br>
        <label for="close">Close</label><br>
        <input type="text" id="close" name="close"><br>
        <label for="last">Last</label><br>
        <input type="text" id="vwap" name="last"><br>

        <input type="button" value="ok">
    </form>
</body>

</html>